.box-timer {
    display: flex;
    flex-direction: row;
}

.timer {
    display: flex;
    flex-direction: row;
    
}

.double-dots {
    color: #9702ff;
    font-size: 3rem;
    font-weight: bold;
    margin: 0rem 0.5rem;
}

.time-date {
    display: flex;
    flex-direction: column;
}

.date {
    color: #9702ff;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.time {
    background-color: #9702ff;
    padding: unset;
    color: white;
    font-weight: bold;
    font-size: 3rem;
    width: 6rem;
    height: 6rem;
    margin: initial;
    display: flex;
    align-items: center;
    justify-content: center;

}