.contact-background {
    background-image: url('../../Images/Contact/contact-foto.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2rem;
    height: 100vh;
}