.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed !important;
    z-index: 1030;
    width: 100%;
    background-color: white;
    opacity: 97%;
    padding: initial;
}

.principal.navbar-brand {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.title-brand {
    margin-left: 1rem;
    margin-top: 1rem;
    color: #1c1e47;
    font-size: 0.85rem;
    font-weight: bold;
}

.logo-secretaria {
    display: inline-block;
    vertical-align: top;
    width: 11.7rem;
    height: 2.9rem;
    margin-left: 2.6rem;
    margin-right: 2.6rem;
}

@media (max-width:992px) {
    .title-brand {
        display: none;
    }
    .logo-secretaria {
        display: none;
    }
    .logo-muni {
        display: none;
    }
}

@media (max-width: 520px) {
    .navbar {
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 1rem;
    }
}

.link {
    color: #8003fe !important;
    font-weight: bold;
    padding-right: 1.1rem !important;
    padding-left: 1.2rem !important;
    padding-bottom: 1.3rem;
    font-size: 0.9rem;
    margin-bottom: initial;
    margin-top: 2rem;
    cursor: pointer;
}

.link:hover {
    border-bottom: 3px solid #d61e6e;
}
