.mark {
    font-size: 0.7rem;
    color: rgb(201, 201, 201);
    background-color: white;
    text-align: center;
}

.mark-link {
    font-size: 0.7rem;
    color: rgb(201, 201, 201);
    background-color: white;
}
