.box-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sponsor-image {
    filter: grayscale(100%);
    margin: 0.7rem;
    width: 3rem;
    height: 3rem;
    object-fit: contain;
    justify-content: center;
}