.banner-container {
    background-image: url("../../Images/Banner/banner.PNG");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 2rem;
    position: relative;
    z-index: 100;
}

@media (max-width: 1420px) {
    .banner-container {
        background-position: 0px -120px;
    }
}
@media (max-width: 1170px) {
    .banner-container {
        background-image: initial;
    }
}
.box-title {
    display: flex;
    justify-content: flex-end;
}

.principal-text-container {
    max-width: 40rem;
    min-width: 20rem;
    color: #1c1e47;
}

.principal-text {
    max-width: 35rem;
    min-width: 20rem;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.5rem;
    padding: 1rem 0 1rem 0;
}

@media (max-width: 520px) {
    .principal-text-container {
        min-width: 10rem;
    }

    .principal-text {
        min-width: 10rem;
    }
}

.principal-title {
    font-size: 2.7rem;
    font-weight: bold;
}

.cta.btn.btn-primary {
    border-radius: 0;
    background-color: #d61e6e;
    border: none;
    width: 14rem;
    height: 3.5rem;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    align-content: center;
    justify-content: center;
    box-shadow: -4px 4px 0px 0 #424b92;
}

.cta.btn.btn-primary:hover {
    box-shadow: initial;
}

.cta.btn.btn-primary:active {
    background-color: #d61e6e !important;
    border-color: initial !important;
    border: initial !important;
}
    
